

  <appSettings>
    <!--Data Base connection info-->
    <add key="DataBase InitialCatalog" value="MGDataBase" />
    <add key="DataBase Source" value="(LocalDb)\MSSQLLocalDB" />
    
    <!--Mq queue info-->
    <add key="MQ Chanel" value="MESSAGE.SVRCONN" />
    <add key="MQ Host" value="172.22.77.92" />
    <add key="MQ ListnerQName" value="App.Notifications.Message.REQUEST" />
    <add key="MQ Port" value="1414" />
    <add key="MQ QueueManagerName" value="ADP.QM" />
    <add key="Mq Timing" value="100" />
    
    <!--Telegram info-->
    <add key="Telegram Api Hash" value="efa2c40a505570737a4e5ab33a4917cf" />
    <add key="Telegram Api Id" value="116022" />
    <add key="Telegram NewConnection" value="false" />
    <add key="Telegram PhoneNumber" value="79162022804" />
    <add key="Telegram Timing" value="1000" />
  </appSettings>
